<div class="row">
  <div class="col-md-3">
    <h2>From:</h2>
    <%= render partial: 'devise/current_user' %>
  </div><!--col-->

  <div class="col-md-6 well">
    <h2>To:</h2>
    <%= render partial: 'identify_recipient' %>
  </div><!--col-->

  <div class="col-md-3">
    <h2>For:</h2>
    <%= render :partial => 'certificate_amount' %>
  </div><!--col-->
</div><!--row-->

