<div id="identify_recipient">
  <% if user_signed_in? %>

  <% else %>
    <h4>
      Please Login or Sign up. You will be able to send your friends our gift certificates through Facebook, email, or regular mail.
    </h4>
  <% end %>
</div>