<div class="form-group">
  <%= link_to "Sign in", new_user_session_path, :class => 'btn btn-primary' %>
</div>

<div class="form-group">
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
</div>

<div class="form-group">
  <%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default' %>
</div>